body {
  text-align: center;
  background-color: #22212c;
  color: #837e9f;
  font-family: Merriweather Sans;
  font-size: 23px;
  font-style: normal;
  line-height: normal;
}

body * {
  font-family: "Inter", sans-serif;
  font-family: "Merriweather Sans", sans-serif;
}

/*PROFILE*/

#profile {
  border-radius: 20px;
  width: 348px;
  height: 292px;
  margin: auto;
  background-color: #302f3d;
}

#profile img {
  width: 128px;
  margin: 32px 110px 30px;
}

#profile h3 {
  margin: 0px;
  display: block;
}

#profile p {
  margin-top: 10px;
  font-size: 13px;
  display: block;
  font-weight: 300px;
}

/*LINKS*/

#links {
  margin: auto;
  margin-top: 10px;
  background-color: #302f3d;
  text-align: center;
  align-items: center;
  width: 348px;
  height: 348px;
  border-radius: 20px;
}

#links ul li img {
  color: #837e9f;
  margin: 5px;
}
#links ul {
  font-weight: 400px;
  font-size: 13px;
  list-style: none;
  padding: 0;
  margin: 0;
}

#links li {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 20px;
  text-align: left;
  padding: 10px;
}

/*TECNOLOGIAS*/

#tecnologias {
  border-radius: 20px;
  height: auto;
  width: 348px;
  margin: auto;
  margin-top: 30px;
  background-color: #302f3d;
}

#tecnologias h3 {
  display: flex;
  font-size: 20px;
  padding: 30px;
  margin: 0;
  padding-left: 20px;
  padding-bottom: 20px;
}

#tecnologias ul {
  list-style: none;
  color: #000;
  font-weight: 700;
  padding: 0;
  margin: 0;
  padding-bottom: 20px;
}

#tecnologias ul li {
  font-size: 10px;
  align-items: center;
  padding: 7px;
}

#tecnologias ul span {
  display: inline-block;
  width: 86px;
  height: 24px;
  border-radius: 30px;
  background: #cb92b1;
  margin: 5px;
}

/*EXPERIENCIAS*/
#experiencias {
  border-radius: 20px;
  margin: auto;
  margin-top: 30px;
  align-items: center;
  width: 348px;
  background-color: #302f3d;
}

#experiencias h3 {
  font-size: 20px;
  font-weight: 700;
  display: flex;
  padding-left: 20px;
  padding-bottom: 20px;
  padding-top: 30px;
  margin: 0;
}

#experiencias dt {
  font-size: 14px;
  font-weight: 700;
  text-align: left;
  padding-bottom: 2px;
}
#experiencias dl {
  margin: auto;
  margin-left: 40px;
  display: block;
  margin-right: 144px;
  width: 190px;
}
#experiencias dd {
  font-weight: 300;
  padding-left: 15px;
  margin: 0;
  padding-bottom: 20px;
  list-style: none;
  font-size: 14px;
  text-align: left;
}

/*EDUCAÇÃO*/
#educacao {
  background-color: #302f3d;
  width: 348px;
  margin: auto;
  border-radius: 20px;
  margin-top: 30px;
}

#educacao h3 {
  font-size: 20px;
  font-weight: 700;
  display: flex;
  padding-left: 20px;
  padding-bottom: 20px;
  padding-top: 30px;
  margin: 0;
}

#educacao dl {
  margin: auto;
  margin-left: 40px;
  display: block;
  margin-right: 144px;
  width: 200px;
}

#educacao dd {
  font-weight: 300;
  padding-left: 15px;
  margin: 0;
  padding-bottom: 20px;
  list-style: none;
  font-size: 14px;
  text-align: left;
}

#educacao dt {
  font-size: 14px;
  font-weight: 700;
  text-align: left;
  padding-bottom: 2px;
}
